@import "tailwindcss";
@import "@nuxt/ui";


@theme {
    --color-app-green: oklch(66.928% 0.14749 161.18);
    --color-app-green-50: oklch(89.797% 0.13463 168.42);
    --color-app-green-100: oklch(88.75% 0.14857 167.43);
    --color-app-green-200: oklch(87.036% 0.17158 164.58);
    --color-app-green-300: oklch(86.059% 0.18836 161.41);
    --color-app-green-400: oklch(77.693% 0.17164 161.11);
    --color-app-green-500: oklch(66.928% 0.14749 161.18);
    --color-app-green-600: oklch(51.285% 0.11091 162.13);
    --color-app-green-700: oklch(34.294% 0.07192 163.42);
    --color-app-green-800: oklch(14.757% 0.02506 175.02);
    --color-app-green-900: oklch(0% 0 none);
    --color-app-green-950: oklch(0% 0 none);
    --breakpoint-3xl: 1920px;

    --color-primary: oklch(66.928% 0.14749 161.18);
    --color-primary-50: oklch(89.797% 0.13463 168.42);
    --color-primary-100: oklch(88.75% 0.14857 167.43);
    --color-primary-200: oklch(87.036% 0.17158 164.58);
    --color-primary-300: oklch(86.059% 0.18836 161.41);
    --color-primary-400: oklch(77.693% 0.17164 161.11);
    --color-primary-500: oklch(66.928% 0.14749 161.18);
    --color-primary-600: oklch(51.285% 0.11091 162.13);
    --color-primary-700: oklch(34.294% 0.07192 163.42);
    --color-primary-800: oklch(14.757% 0.02506 175.02);
    --color-primary-900: oklch(0% 0 none);
    --color-primary-950: oklch(0% 0 none);


    --color-app-lime: oklch(73.004% 0.24773 142.38);
    --color-app-lime-50: oklch(90.265% 0.19482 143.13);
    --color-app-lime-100: oklch(89.261% 0.22134 142.74);
    --color-app-lime-200: oklch(87.758% 0.26315 142.42);
    --color-app-lime-300: oklch(86.92% 0.28731 142.39);
    --color-app-lime-400: oklch(83.836% 0.28462 142.4);
    --color-app-lime-500: oklch(73.004% 0.24773 142.38);
    --color-app-lime-600: oklch(57.515% 0.19488 142.31);
    --color-app-lime-700: oklch(40.889% 0.13804 142.15);
    --color-app-lime-800: oklch(22.248% 0.07478 141.96);
    --color-app-lime-900: oklch(0% 0 none);
    --color-app-lime-950: oklch(0% 0 none);
}


.wrapper {
    @apply px-4  md:px-24 ;
}

.font-120 {
    @apply font-[120%]
}


html {
    min-height: 100vh !important;
}